@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');


* {
    box-sizing: border-box;
    border-radius: 10px;
    font-family: 'Roboto', sans-serif;
}

h3, h4 {
    font-size: 1em;
    font-weight: 400;
}

h4 {
    color: grey;
    margin: 0;
}

p {
    font-size: 0.75em;
}

nav {
    min-height: 5vh;
    background-color: rgb(148, 148, 247);
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 10px;
    box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.5);
    margin-bottom: 30px;
    border-radius: 0;
}

main {
    padding: 15px;
}

img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.5);  
}

img.logo {
    height: 100%;
    width: auto;
    box-shadow: none; 
}

.allBeers {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2.5%;
}

.divBeer {
    width: 22.5%;
    box-shadow: 2px 4px 2px rgba(0, 0, 0, 0.25);
    padding: 15px;
    margin-bottom: 15px;
    background-color: rgba(173, 244, 244, 0.25);
}

.divBeer img {
    height: 250px;
    object-fit: contain;
    box-shadow: none;
}

.beerDetails {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 500px;
    margin: 0 auto;
}

.beerDetails img {
    width: auto;
    height: 500px;    
    margin: 0 auto;
    padding: 50px;
    margin: 50px;
}

.beerDetails .headings {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 500px;
}

.AddBeer {
    width: 100%;
}

.AddBeer h2 {
    text-align: center
}

form {
    margin: 0 auto;
    width: 50%;
}

label {
    font-weight: bold;
    line-height: 1.75;
    padding-left: 1em;
}

input {
    display: block;
    width: 100%;
    margin-bottom: 16px;
    padding-left: 16px;
    height: 3em;
    border-color:  rgb(148, 148, 247);
}

input[name=description] {
    height: 15em;
}

button {
    color: white;
    font-size: 1.5em;
    font-weight: bold;
    background-color: rgb(148, 148, 247);
    width: 100%;
    padding: 8px 16px;
    border-color:  rgb(148, 148, 247);
    margin: 1em 0;
    cursor: pointer;
    transition: all ease-in-out 0.3s;
}

button:hover {
    border: 2px solid yellow;
    color: yellow;
}

